@page "/managebooks"

@using OnlyBookShop.Data
@inject IDbContextFactory<BookDbContext> BookDbFactory

<h3>Book Lists</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price (Baht)</th>
            <th>Pic URL</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>@book.Price</td>
                <td>@book.Url</td>
                <td>
                    <a href="viewbook/@book.Id" class="btn btn-warning btn-sm d-block mx-auto">View</a>
                    <a href="editbook/@book.Id" class="btn btn-success btn-sm d-block mx-auto" style="margin-top: 5px">Edit</a>
                    <a href="deletebook/@book.Id" class="btn btn-danger btn-sm d-block mx-auto" style="margin-top: 5px">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>

@foreach (var book in books)
{
    <div class="book-container">
        <strong>Book ID: </strong>@book.Id
        <a href="deletebook/@book.Id" class="btn btn-danger btn-sm float-end">Delete</a>
        <a href="editbook/@book.Id" class="btn btn-success btn-sm float-end" style="margin-right: 2%">Edit</a>
        <a href="viewbook/@book.Id" class="btn btn-warning btn-sm float-end" style="margin-right: 2%">View</a><br>
        <strong>Name: </strong>@book.Name<br>
        <strong>Description: </strong>@book.Description<br>
        <strong>Author: </strong>@book.Author<br>
        <strong>Year: </strong>@book.Year<br>
        <strong>Price (Baht): </strong>@book.Price<br>
        <strong>Pic URL: </strong><a href="@book.Url">@book.Url</a>
    </div>
}

<EditForm Model="@editModel" OnValidSubmit="@AddData">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Year</th>
                <th>Price (Baht)</th>
                <th>Pic URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <InputText class="form-control" type="text" placeholder="ABC" id="Name" @bind-Value="@editModel.Name" />
                </td>
                <td>
                    <InputTextArea class="form-control" id="Description" rows="3" @bind-Value="@editModel.Description" />
                </td>
                <td>
                    <InputText class="form-control" type="text" placeholder="John Cena" id="Author" @bind-Value="@editModel.Author" />
                </td>
                <td>
                    <InputNumber class="form-control" type="number" placeholder="0" id="Year" @bind-Value="@editModel.Year" />
                </td>
                <td>
                    <InputNumber class="form-control" type="number" placeholder="0" id="Price" @bind-Value="@editModel.Price" />
                </td>
                <td>
                    <InputText class="form-control" type="text" placeholder="www.abc.com/abc.jpg" id="URL Picture" @bind-Value="@editModel.Url" />
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-outline-success float-end add-lg" >Add</button>
</EditForm>

<EditForm Model="@editModel" OnValidSubmit="@AddData">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="book-container">
        <strong>Name: </strong><InputText class="form-control" id="name" placeholder="ABC" @bind-Value="@editModel.Name"/><br>
        <strong>Description: </strong><InputTextArea class="form-control" id="description" rows="3" @bind-Value="@editModel.Description" /><br>
        <strong>Author: </strong><InputText class="form-control" type="text" id="author" placeholder="John Cena" @bind-Value="@editModel.Author" /><br>
        <strong>Year: </strong><InputNumber class="form-control" type="number" id="year" placeholder="0" @bind-Value="@editModel.Year" /><br>
        <strong>Price (Baht): </strong><InputNumber class="form-control" type="number" id="price" placeholder="0" @bind-Value="@editModel.Price" /><br>
        <strong>Pic URL: </strong><InputText class="form-control" type="text" id="picUrl" placeholder="www.abc.com/abc.jpg" aria-label="URL Picture" @bind-Value="@editModel.Url" />
     </div>
    <button type="submit" class="btn btn-outline-success float-end add-sm">Add</button>
</EditForm>


@code {
    
    private List<BookData> books;

    private BookData editModel = new BookData();

    protected override async Task OnInitializedAsync()
    {
        using var dbcontext = await BookDbFactory.CreateDbContextAsync();
        books = dbcontext.BookDatas.ToList();
    }

    private async Task AddData()
    {
        using var dbcontext = await BookDbFactory.CreateDbContextAsync();
        dbcontext.BookDatas.Add(new BookData
        {
            Name = editModel.Name,
            Description = editModel.Description,
            Author = editModel.Author,
            Year = editModel.Year,
            Price = editModel.Price,
            Url = editModel.Url
        });
        dbcontext.SaveChanges();
        editModel = new();
        books = dbcontext.BookDatas.ToList();
    }

    
}